:root {
    --white: white;
    --greyLight: lightGrey;
    --greyDark: dimGray;
    --greyArticle: rgba(247, 242, 242, 0.719);
    --pink: rgb(228, 121, 121);
    --salmon: Salmon;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:  500;
    font-size: 1.6rem;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
 
a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    max-width: 1200px;
    margin: 1.5rem auto;
}

/*** HEADER ***/

    .header {
        grid-area: header;
        background: url("../img/header.jpg");
        background-position: center 53%;
        background-size: 190rem;
        display: grid;
        grid-template-areas: 
        "menu"
        "header-text";
        margin: 0 1.5rem;
    }            
        .menu{
            grid-area: menu;
            display: grid;
            grid-template-areas: "logo nav social";
            grid-template-columns: 1fr 6fr 1fr;
            align-items: center;
        }
            .menu a{
                color: var(--greyDark);
            }
            .menu ul{
                list-style: none;
            }

            .logo{
                grid-area: logo;
                margin-left: 1.5rem;
            }
                .logo img{
                    height: 6.5rem;
                    border: 2px solid transparent;
                    animation: leftToRight 4s ease-in-out;
                }

                .logo img:hover{
                    border-radius: 20%;
                    transform: scale(0.9);
                    border: 2px solid var(--salmon);
                    background: rgb(252, 212, 208);
                }

            .nav{
                grid-area: nav;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

                justify-items: center;
                align-items: center;
                margin: 0 5rem 0 0;
                animation: topToDown 3s ease-out;
            }
                .nav a{
                    font-size: 1.5rem;
                }

                .nav a:hover , .social a:hover{
                    color: var(--salmon);
                }
             
                nav i{
                    margin-right: 0.5rem;
                }
               
            .social{
                grid-area: social;
                display: grid;
                grid-template-columns: auto auto;
                justify-items: center;
                align-items: center;
                gap: 1.5rem;
                margin: 0 5rem;
                animation: topToDown 3s ease-out;
            }
        
        .header-text {
            grid-area: header-text;
            display: grid;
            height: 28rem;
            justify-items: center;
            align-items: end;
        }
        /* Revisar siguientes valores si no se ajusta y borrar este comentario */
            .header-text h1{
                background: var(--greyLight);
                color: var(--pink);
                height: 46%;
                width: 90%;
                padding-top: 2rem;
                opacity: 60%;
                font-size: 2.8rem;
                text-align: center;
                font-family: 'Sorts Mill Goudy', serif;
                font-weight: 100;
                animation: rightToLeft 3s ease-out;
            }

/*** MAIN ***/          
.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "content aside"
        "note aside";
    grid-template-columns: 3fr 1fr; 
    margin: 1.5rem;
    gap: 0 1.5rem;
}

  /* ARTICLES */ 
    .articles{
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--greyLight);
        padding: 1.5rem;
        gap: 1.5rem;
    }
        .article{
            background: var(--greyArticle);
            min-width: 25rem;
            padding: 1.5rem;
        }
            .article img{
                object-fit: cover;
                width: 100%;
                height: 19rem;
            }

            .art-date {
                color: var(--white);
                margin: -2.4rem 0 0 0.8rem;
                opacity: 0.9;
                font-weight: lighter;
            }

            h3.title-img{
                text-transform: uppercase;
                letter-spacing: 0.4rem;
                font-size: 2rem;
                background: var(--salmon);
                color: var(--white);
                padding: 1.1rem 0.2rem 0.2rem 0.6rem;
                margin-top: 0.8rem;
            }

            p.article-text {
                padding: 1.5rem 0.75rem;
                color: var(--greyDark);
                column-count: 2;
                column-gap: 3rem;
            }
           
            .read-more a{
                color: rgb(141, 140, 140);
                padding: 0.5rem;
            }

            .read-more a:hover{
                color: var(--salmon);
                font-weight: bold;
            }

        .note-art{
            grid-area: note;
            background: var(--greyLight) ;  
            padding:  1.5rem 1.5rem;
            text-align: center;
        }

  /* ASIDE */ 
    .aside{
        background: var(--greyLight);
        grid-area: aside;
    }

        h3.aside-text{
            font-weight: 1200;
            font-size: 2rem;
            padding-top: 3rem;
            text-align: center;
        }
        
        h4.aside-text{
            padding: 1.5rem 1.5rem ;
            text-align: center;
        }   

/* FOOTER */ 
.footer {
    /* Revisar si todo sigue funcionando bien al añadir la siguiente linia */
    grid-area: footer; 
    background: var(--greyLight);
    margin: 0 1.5rem;
    color: var(--greyDark);
}
    footer p.foot{
        background: var(--greyArticle) ;
        text-align: center;
        margin: 0 1.5rem;
        padding: 0.8rem 0;
    }

/******KEYFRAMES */

@keyframes leftToRight {
    0%{
        opacity: 0;
        transform: translateX(-200rem);
    }

    50%{
        transform: rotate(45deg);
    }
   
    100%{
        opacity: 1;
        transform: translateX(0);
       
    }
}

@keyframes rightToLeft {
    0%{
        opacity: 0;
        transform: translateX(10rem);
        background: transparent;
    }

    100%{
        opacity: 60%;
        transform: translateX(0);
        
    }
}

@keyframes topToDown {
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }
    

    100%{
        opacity: 1;
        transform: translateY(0);
    }
} 

/*** TABLET VERSION*****************************/

@media only screen and (max-width: 1024px){

    /*** MAIN ***/ 
    .main{
        grid-template-areas: 
        "content"
        "note"
        "aside";
        grid-template-columns: 1fr;
    }

        .nav{
            grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
            margin: 0 1rem 0 0;
        }

        .social{
            margin: 0 2rem;
        }

    /** ASIDE **/ 
    .aside{
        margin-top: 1.5rem;
    }

        h4.aside-text{
            padding: 1.5rem 1.5rem 3rem 1.5rem;
            text-align: center;
        }
}

@media only screen and (max-width: 650px){

    /*** HEADER ***/
    .off {
        display: none;
    }
    .nav i, .social i{
        font-size: 2rem;
        margin:  0.5rem;
        /* revisar la siguiente linea */
        padding: 0 0.3rem;
    }

    /***MAIN */
    .articles{
        grid-template-columns: 1fr;
    }
}

/*** MOBILE VERSION****************************/

@media only screen and (max-width: 480px){
   
    /*** HEADER ***/
   .header {
    background-position: center 50%;
   }
   .menu{
    grid-template-areas: 
    "logo" 
    "nav"
    "social";
    grid-template-columns: 1fr;
    }

        .logo{
            margin: auto;
        }
            .logo img{
                margin: auto;
            }

         .nav{
            grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
            margin: 1rem 5rem; 
        }

        .social{
            margin: auto;
        }
            .social i{
                padding: 0;
                margin: 0.8rem;
            } 
        
        .header {
            background-position: center 50%;
        }
            .header-text {
                height: 23rem;
            }

                .header-text h1{
                    padding-top: 2.4rem;
                    height: 56%;
                    font-size: 2.6rem;
                }

    /*** MAIN ***/ 
 
    p.article-text {
        column-count: 1;
    }
}


